      body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .card-flex {
      display: flex;
      min-height: 70vh; /* biar full tinggi layar */
    }

    .card-flex > div {
      flex: 1; /* otomatis bagi rata */
      padding: 10px;
      
    }

    footer {
      
    }
   