body{
    font-family: Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}

.bold{
    font-weight:bolder;
}

.card-flex{
    display:flex;
    height:220px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.kolom{
    width:30%;
    font-size:17px; 
    font-weight:bold;
}

.jarakkolom{
    width: 5%;
}

.fontprofil{
    font-size: 12px;
}

.fontprofil p{
    font-weight:normal; 
    margin-top:5px;
}

.fontprofil a{
    text-decoration: none;
    color: black;
}

.profil{
    border-radius : 50%;
    height:40px; 
    width:40px; 
    margin-top:40px;
    margin-bottom:20px;
    overflow: hidden;
}

.profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer a{
    color: black;
}

.footer span{
    margin:20px;
}

.keterangan{
    display:flex;
    height:50px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.kiri2 {
    width:20%; 
    font-size:30px;
    font-weight: bold;
}

.kanan2 {
    width:20%;
    object-fit: hidden;
}

.kanan2 img{
    width: 40%;
    height: auto;
    object-fit: cover;
    float:right;
}

.tengah2{
    margin-top: 10px;
    font-size:12px;
    font-weight: bold;
    text-align: center;
    width:60%; 
    text-decoration: none;
    color: black;
}

.tengah2 span{
    margin:20px;
}